<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShadowServer</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>

<body>
    <div class=" bg-primary fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto align-items-center">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="btn btn-light" href="/signup">Signup</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <header class="homeHeader">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-light">
                    <h1>
                        Gaming Servers
                    </h1>
                    <div class="f-20">
                        Fully customizable TCAdmin panel for your server, 99.9% uptime guarantee, 24/7 customer support.
                    </div>
                    <div>
                        <button class="btn btn-light text-primary btn-lg mt-3 font-weight-bold">
                            Get Start Now
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/assets/gamecomp.svg" class="pointerNone" width="100%" alt="gamecomp">
                </div>
            </div>
        </div>
    </header>
    <section class="container text-center py-3 my-5 py-md-5">
        <h1 class="font-weight-semibold">
            We Provide You World Class Servers
        </h1>
        <p>
            High-end Gaming and TeamSpeak servers, perfect for casual and professional gamers alike! Start and manage
            your own server in seconds!
        </p>
        <div class="row justify-content-around">
            <div class="col-12 col-md-5 col-lg-4 py-3">
                <div class="shadow p-2 px-md-4 pt-md-5 pb-md-3 h-100 rounded">
                    <div>
                        <img src="/assets/Fully functional.svg" width="80px" alt="Fully functional">
                    </div>
                    <h3 class="mt-5">
                        Fully Functional
                    </h3>
                    <p class="mt-3">
                        We provide you with a TCAdmin panel for your server. They're the oldest and best in the game.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4 py-3">
                <div class="shadow p-2 px-md-4 pt-md-5 pb-md-3 h-100 rounded">
                    <div>
                        <img src="/assets/Fully functional.svg" width="80px" alt="Fully functional">
                    </div>
                    <h3 class="mt-5">
                        24/7 Live Chat
                    </h3>
                    <p class="mt-3">
                        Do you need help with your server? No problem! We'll get your going.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4 py-3">
                <div class="shadow p-2 px-md-4 pt-md-5 pb-md-3 h-100 rounded">
                    <div>
                        <img src="/assets/Fully functional.svg" width="80px" alt="Fully functional">
                    </div>
                    <h3 class="mt-5">
                        Secure Data
                    </h3>
                    <p class="mt-3">
                        All data is secure and low-latency.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- games names -->
    <section class="bg-primary text-light">
        <div class="container py-2 py-md-5">
            <h3 class="text-center mb-3 mb-md-5">
                We are Providing 80+ Games
            </h3>
            <ul class="gamesList">
                <% games.forEach(function(game){%>
                <li><%= game.title %></li>
                <%});%>
            </ul>
        </div>
    </section>
    <section class=" py-3 my-5 py-md-5">
        <div class="container">
            <h3 class="text-center mb-3 mb-md-5">
                Pricing Plan
            </h3>
            <div class="row">
                <div class="col-12 col-md-5 col-lg-4 flexCenter">
                    <div class="priceCard one shadow rounded overflow-hidden">
                        <div class="p-head py-3 py-lg-4">
                            <h4>
                                Standard Game Server
                            </h4>
                            <div class="p-label">
                                Starting at
                            </div>
                            <h3>
                                $5.99 /mo
                            </h3>
                        </div>
                        <div class="p-body px-3 text-center">
                            <p class=" py-4">
                                Resource prioritization on SSD.
                            </p>
                            <div class="pt-3 pb-5">
                                <button class="btn btn-primary-10 btn-lg">
                                    Get Started Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 flexCenter">
                    <div class="priceCard two shadow rounded overflow-hidden">
                        <div class="p-head py-3 py-lg-5">
                            <h4>
                                Standard Game Server
                            </h4>
                            <div class="p-label">
                                Starting at
                            </div>
                            <h3>
                                $5.99 /mo
                            </h3>
                        </div>
                        <div class="p-body px-3 text-center">
                            <p class=" py-4">
                                Resource prioritization on SSD.
                            </p>
                            <div class="pt-3 pb-5">
                                <button class="btn btn-primary-10 btn-lg">
                                    Get Started Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 flexCenter">
                    <div class="priceCard three shadow rounded overflow-hidden">
                        <div class="p-head py-3 py-lg-4">
                            <h4>
                                Standard Game Server
                            </h4>
                            <div class="p-label">
                                Starting at
                            </div>
                            <h3>
                                $5.99 /mo
                            </h3>
                        </div>
                        <div class="p-body px-3 text-center">
                            <p class=" py-4">
                                Resource prioritization on SSD.
                            </p>
                            <div class="pt-3 pb-5">
                                <button class="btn btn-primary-10 btn-lg">
                                    Get Started Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary text-light">
        <div class="container py-2 py-md-5">
            <div class="row">
                <div class="col-md-6">
                    <img src="/assets/webreview.svg" width="100%" alt="webreview">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <h3>
                            TCAdmin Control Panel for Complete Control
                        </h3>
                        <p class="mt-3">
                            We use TCAdmin, the oldest and most trusted gamehosting platform. You'll be in complete
                            control of your server, with the ability to fully customize all aspects of your games,
                            including custom maps and more!
                        </p>
                        <button class="btn btn-light text-primary btn-lg mt-3">
                            Learn More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container py-3 my-5 py-md-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div>
                    <h3>
                        24/7 Expert Hosting Support Our Customers Love
                    </h3>
                    <p>
                        We're here to help you get your servers going and keep them going.
                    </p>
                    <div class="d-flex flex-wrap">
                        <div class="mr-md-3">
                            <b>Email:</b> info@shadowservers.net
                        </div>
                        <div>
                            <b>Discord:</b> Shadow Sysop#0101
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <img src="/assets/call-center-support.svg" class="customerImg" alt="call-center-support">
            </div>
        </div>
    </section>
    <section class="bg-gray text-primary">
        <div class="container py-2 py-md-5">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div>
                        <h3>A Service By Gamers For Gamers</h3>
                        <p>
                            Hey...we're gamers too. We play on these servers so you can rest assured that you'll get a
                            streamlined experience with low pings and fast response time.
                        </p>
                        <button class="btn btn-primary mt-3 btn-lg">
                            Get Started Now
                        </button>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <img src="/assets/server-room.svg" class="datacenterImg" alt="server-room">
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-primary text-light">
        <div class="container pt-5 pb-3">
            <div class="row">
                <div class="col-md-6">
                    <h3>24/7 Expert Hosting Support Our Customers Love</h3>
                    <p>
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                        was born and I will give you a complete account of the system, and expound the actual teachings
                        of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                        dislikes, or avoids pleasure itself, because it is pleasure, but
                    </p>
                </div>
                <div class="col-md-3">
                    <h4>
                        Company
                    </h4>
                    <ul class="footerList">
                        <li>About us</li>
                        <li>Out Team</li>
                        <li>Community</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>
                        Support
                    </h4>
                    <ul class="footerList">
                        <li>FAQs</li>
                        <li>Network Status</li>
                        <li>Contact Support</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-light text-primary">
            <div class="container d-flex justify-content-between py-3">
                <div>
                    © Shadowservers, All rights reserved
                </div>
                <div>
                    Terms & condition
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="../../node_modules/bootstrap/js/src/index.js"></script>

</html>