<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>
    <div class="homeHeader justify-content-center">
<a href="https://py.pl/8zUQ28CtvLO" class="btn btn-light btn-lg mr-3">
    Standard Game Server 
</a>
<a href="https://py.pl/cCw9J" class="btn btn-light btn-lg mr-3">
    Silver Game Server
</a>
<a href="https://py.pl/18UQA4" class="btn btn-light btn-lg mr-3">
    Gold Game Server 
</a>
    </div>
</body>
</html>